.img {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 48px;
  top: 31px;
  background-color: #ffffff;
  border-radius: 50%;
}

.rectangel12 {
  position: absolute;
  width: 250px;
  height: 826px;
  left: 0px;
  top: 0px;

  background: #fefefe;
  box-shadow: 0px 4px 15px #f1f1f8;
}

.box {
  position: absolute;
  width: 250px;
  height: 40px;
  left: 0px;
  top: 210px;

  background: #320199;
  background: linear-gradient(
    270deg,
    rgba(75, 4, 227, 0.19) 2%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dash {
  position: absolute;
  width: 90.48px;
  height: 5px;
  left: 28.01px;
  bottom: 12px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #0c0d36;
}

.box-2 {
  position: absolute;
  width: 4.31px;
  height: 40px;
  left: 246px;
  top: 194px;

  background: #320199;
}

.konsul {
  position: absolute;
  width: 120px;
  height: 24px;
  left: 28px;
  top: 253px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #c5c5c5;
}

.jasa {
  position: absolute;
  width: 119px;
  height: 24px;
  left: 28px;
  top: 291px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #c5c5c5;
}

.akun {
  position: absolute;
  width: 84px;
  height: 24px;
  left: 28px;
  top: 329px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #c5c5c5;
}

.sign {
  position: absolute;
  width: 84px;
  height: 24px;
  left: 28px;
  top: 650px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #c5c5c5;
}

.dash-2 {
  position: absolute;
  width: 135px;
  height: 36px;
  left: 282px;
  top: 19px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #0c0d36;
}

.selamat {
  position: absolute;
  width: 297px;
  height: 24px;
  left: 282px;
  top: 61px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #9191a9;
}

.img-2 {
  position: absolute;
  width: 120px;
  height: 138px;
  left: 311px;
  top: 139px;
}

.konsul-2 {
  position: absolute;
  width: 123px;
  height: 33px;
  left: 314px;
  top: 282px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #170047;
}

.dapat {
  position: absolute;
  width: 133px;
  height: 40px;
  left: 310px;
  top: 313px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: rgba(23, 0, 71, 0.83);
}

.rectangel1 {
  position: absolute;
  width: 96px;
  height: 29px;
  left: 329px;
  top: 358px;

  background: #ffe601;
  border-radius: 5px;
}

.chat {
  position: absolute;
  width: 72px;
  height: 16px;
  left: 341px;
  top: 366px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #170047;
}

.img-3 {
  position: absolute;
  width: 145px;
  height: 101px;
  left: 533px;
  top: 157px;
}

.artikel {
  position: absolute;
  width: 66px;
  height: 30px;
  left: 563px;
  top: 282px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */

  color: #170047;
}

.dapat-2 {
  position: absolute;
  width: 124px;
  height: 36px;
  left: 538px;
  top: 315px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: rgba(23, 0, 71, 0.83);
}

.rectangel1-2 {
  position: absolute;
  width: 96px;
  height: 28px;
  left: 548px;
  top: 358px;

  background: #ffe601;
  border-radius: 5px;
}

.baca {
  position: absolute;
  width: 35px;
  height: 19px;
  left: 582px;
  top: 366px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #170047;
}

.img-4 {
  position: absolute;
  width: 164px;
  height: 141px;
  left: 730px;
  top: 139px;
}

.jasa-2 {
  position: absolute;
  width: 152px;
  height: 30px;
  left: 734px;
  top: 282px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */

  color: #000000;
}

.dapat-3 {
  position: absolute;
  width: 137px;
  height: 36px;
  left: 740px;
  top: 315px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: rgba(23, 0, 71, 0.83);
}

.rectangel1-3 {
  position: absolute;
  width: 96px;
  height: 28px;
  left: 754px;
  top: 358px;

  background: #ffe601;
  border-radius: 5px;
}

.beli {
  position: absolute;
  width: 58.4px;
  height: 13.69px;
  left: 773px;
  top: 366px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #170047;
}

.box-3 {
  position: absolute;
  width: 643px;
  height: 0px;
  left: 274px;
  top: 473px;

  border: 1px solid #a3a3a3;
}

.riwayat {
  position: absolute;
  width: 185px;
  height: 24px;
  left: 274px;
  top: 526px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;

  /* identical to box height */

  color: #170047;
}

.rectangel22 {
  position: absolute;
  width: 267px;
  height: 36px;
  left: 274px;
  top: 570px;

  background: #e5e5e5;
  border-radius: 15px;
}

.magh {
  position: absolute;
  width: 46px;
  height: 24px;
  left: 308px;
  top: 575px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #170047;
}

.kode {
  position: absolute;
  width: 146px;
  height: 24px;
  left: 654px;
  top: 529px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;

  /* identical to box height */

  color: #170047;
}

.rectangel23 {
  position: absolute;
  width: 267px;
  height: 36px;
  left: 647px;
  top: 570px;

  background: #e5e5e5;
  border-radius: 15px;
}

.kode-2 {
  position: absolute;
  width: 12px;
  height: 24px;
  left: 680px;
  top: 571px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #170047;
}

.box-4 {
  position: absolute;
  width: 748px;
  height: 0px;
  left: 560px;
  bottom: 200px;

  border: 1px solid #a3a3a3;
  transform: rotate(89.77deg);
}

.img-5 {
  position: absolute;
  height: 66px;
  width: 66px;
  left: 1050px;
  top: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hi {
  position: absolute;
  width: 127px;
  height: 24px;
  left: 1115px;
  top: 45px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */
  text-align: right;

  color: #0c0d36;
}

.riwayat-2 {
  position: absolute;
  width: 166px;
  height: 24px;
  left: 947px;
  top: 157px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;

  /* identical to box height */

  color: #170047;
}

.rincian {
  position: absolute;
  width: 135px;
  height: 24px;
  left: 1158px;
  top: 157px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;

  /* identical to box height */

  color: #4b04e3;
}

.box-5 {
  position: absolute;
  width: 363px;
  height: 0px;
  left: 961px;
  top: 191px;

  border: 1px solid #c5c5c5;
}

.box-6 {
  position: absolute;
  width: 360px;
  height: 0px;
  left: 845px;
  top: 407px;

  border: 1px solid rgba(75, 4, 227, 0.59);
  transform: rotate(89.45deg);
}

.date-1 {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 947px;
  top: 222px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.time-1 {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 948px;
  top: 242px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* identical to box height */

  color: #000000;
}

.ells-1 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1019px;
  top: 226.08px;

  background: #170047;
  border-radius: 50%;
}

.text-1 {
  position: absolute;
  width: 153px;
  height: 18px;
  left: 1040px;
  top: 225px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.date-2 {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 947px;
  top: 279px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.time-2 {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 949px;
  top: 298px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* identical to box height */

  color: #000000;
}

.ells-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1020px;
  top: 283px;

  background: #170047;
  border-radius: 50%;
}

.text-2 {
  position: absolute;
  width: 280px;
  height: 18px;
  left: 1040px;
  top: 282px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.date-3 {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 947px;
  top: 341px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.time-3 {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 949px;
  top: 361px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* identical to box height */

  color: #000000;
}

.ells-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1020px;
  top: 342px;

  background: #170047;
  border-radius: 50%;
}

.text-3 {
  position: absolute;
  width: 250px;
  height: 18px;
  left: 1040px;
  top: 341px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.date-4 {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 947px;
  top: 398px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.time-4 {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 949px;
  top: 418px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* identical to box height */

  color: #000000;
}

.ells-4 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1021px;
  top: 401px;

  background: #170047;
  border-radius: 50%;
}

.text-4 {
  position: absolute;
  width: 250px;
  height: 18px;
  left: 1040px;
  top: 400px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.date-5 {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 947px;
  top: 460px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.time-5 {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 949px;
  top: 480px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* identical to box height */

  color: #000000;
}

.ells-5 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1021px;
  top: 460px;

  background: #170047;
  border-radius: 50%;
}

.text-5 {
  position: absolute;
  width: 250px;
  height: 18px;
  left: 1040px;
  top: 459px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.date-6 {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 947px;
  top: 519px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.time-6 {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 949px;
  top: 539px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* identical to box height */

  color: #000000;
}

.ells-6 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1022px;
  top: 519px;

  background: #170047;
  border-radius: 50%;
}

.text-6 {
  position: absolute;
  width: 250px;
  height: 18px;
  left: 1040px;
  top: 518px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.date-7 {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 947px;
  top: 579px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}

.time-7 {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 949px;
  top: 599px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* identical to box height */

  color: #000000;
}

.ells-7 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1022px;
  top: 579px;

  background: #170047;
  border-radius: 50%;
}

.text-7 {
  position: absolute;
  width: 250px;
  height: 18px;
  left: 1040px;
  top: 578px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  /* identical to box height */

  color: #000000;
}
